[user]
	name = Brad R
	email = bnrobinson93@gmail.com
	signingKey = 30A92B0B77887D6E
[push]
	default = simple
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
[commit]
	gpgsign = true
